$main: #0F2B46;
$second-main: #133D65;
$accent: #F48020;
$blue: #2261DA;

// %titles{
//    font-family: 'Noto Serif', serif;
//    font-weight: 700;
//    font-size: 48px;
//    line-height: 65px;
//    color: $black;
// }
