$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-wallet: "\e909";
$icon-exchange1: "\e903";
$icon-arrow_up: "\e900";
$icon-arrow-down: "\e901";
$icon-company: "\e902";
$icon-exchange: "\e904";
$icon-gas: "\e905";
$icon-profile: "\e906";
$icon-settings: "\e907";
$icon-trading: "\e908";

